{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %} End of Part 2 {% endblock %}

{% block content %}

    <p>Your average payoff over all the rounds is {{ averagepay }}</p>

    <p>Please answer three more questions concerning the inventory management task, then you are done with it. In the questions we ask you to reflect upon your motivations and feelings during the decision making.</p>

    {% formfield player.pecu with label="How much did you care about maximizing your profit?" %}
    {% formfield player.nonpecu with label="How much did you care about satisfying customer demand?" %}
    {% formfield player.conflict with label="How conflicted did you feel between maximizing your profit and satisfying customer demand?" %}

    {% next_button %}

{% endblock %}