{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %} Thank you for your participation {% endblock %}

{% block content %}
<p>You can now exit the game.</p>
<p>Want more information about this setup? Read the following paper by Kremer et al. (2010) where they used incentivised laboratory subjects to play the Newsvendor game.</p>
<p>Kremer M., Minner S., Van Wassenhove L. 2010. <a href="http://pubsonline.informs.org/doi/abs/10.1287/msom.1100.0294">Do random errors explain Newsvendor behavior?</a> Manufacturing & Service Operations Management, 12(4).</p>
{% endblock %}