{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %} Newsvendor game {% endblock %}

{% block styles %}

    <style type="text/css">
        table.pc tr:hover td {
            background:#fffccc;
        }
        .highlight { background-color: red; }
        tr.borderbottom td {
            border-bottom: 1pt solid black;
        }
    </style>

{% endblock %}

{% block content %}

<h2>Task description</h2>
<p>Your task is to make a number of decisions under uncertainty in a simple Newsvendor setting.</p>
<p>You are a retailer who sells a single (fictional) item at a specific market price to customers. You can think of the item being a newspaper or some other product that has no selling value after the day. You order these items to an inventory (e.g. your newsstand) before you can sell them. You order the items from the supplier at a specific unit cost and your customers will pay a specific unit price for them. You must make the order decision before you know how many items your customers will demand.</p>
<p>Even though you do not know the demand at the time of making your decision, you known what are the possible demand values. You also know that each demand value will occur equally likely.</p>
<p>This situation repeats in the same manner over many selling rounds. The nature of the items is such that you cannot carry them over to the next round.</p>
<p>The profit from your chosen order quantity depends on the realization of the random demand. Unless the realized demand exactly matches your order quantity, there are two possibilities:
<ul>
    <li>The demand is higher than your order quantity; in this case you will disappoint some of your customers because you cannot deliver the items to them, and you will also lose any margin from those units of demand you could not satisfy.</li>
    <li>The demand is lower than your order quantity; in this case you satisfy your customers, but you have incurred costs for some units bought, without being able to earn revenue with these units.</li>
</ul>
<p>You do not have to calculate the prospective profits for each possible combination of order quantity and demand. They are provided to you by means of a decision matrix:</p>

<br>

<div id="tabledata"></div>

<h2>Begin</h2>

<p>When you click the Next button below, the first round will start. Please note that you should try to maximise your profit in every selling round, starting from the one that begins at the next page.</p>

<center>
{% next_button %}
</center>

{% endblock %}

{% block scripts %}

    <script>
    function createTable() {

        var margin = {{ margin }}

        if (margin == 'low') {
            var price = 7.28;
            var cost = 5.72;
        }
        else {
            var price = 1.78;
            var cost = 0.38;
        }
        var code = "<center><table class=pc cellpadding=5 width=700>";
        code += "<tr align=center><td width=80>Order</td><td width=80></td><td width=80></td><td width=80></td><td width=80>Demand</td><td width=80></td><td width=80></td><td width=80></td></tr>";
        code += "<tr align=center class=borderbottom><td> </td>";
        if (margin == 'low') {
            for (var j = 0; j < 7; j++) {
                code += "<td><b>" + (500 + j*50) + "</b></td>";
            }
            code += "</tr>";
        }
        else {
            for (var j = 0; j < 7; j++) {
                code += "<td><b>" + (300 + j*100) + "</b></td>";
            }
            code += "</tr>";
        }
        code += "<tr align=center class=borderbottom><td> </td>";

        for (var j = 0; j < 7; j++) {
            code += "<td>1/7</td>";
            }
        code += "</tr>";

        for (var i = 0; i < 7; i++) {

            if (i == 6) {
                code += "<tr align=center class=borderbottom>";
            }
            else {
                code += "<tr align=center>";
            }

            if (margin == 'low') {
                code += "<td><b><input type=radio name= {{ field.html_name }} value=" + i + "> " + (500 + i*50) + "</b></td>";
            }
            else {
                code += "<td><b><input type=radio name= {{ field.html_name}} value=" + i + "> " + (300 + i*100) + "</b></td>";
            }

            for (var j = 0; j < 7; j++) {
                if (margin == 'low') {
                    var dem = (500 + j*50);
                    var quant = (500 + i*50);
                }
                else {
                    var dem = (300 + j*100);
                    var quant = (300 + i*100);
                }
                if (dem >= quant) {
                    var pay = price*quant - cost*quant;
                }
                else {
                    var pay = price*dem - cost*quant;
                }
                code += "<td>" + pay + "</td>";
            }
            code += "</tr>";
        }
        code += "</table></center><br><p>In the decision matrix, you indicate your order quantity decision by selecting a radio button from the left hand side column. The demand can be any value from the top row of the matrix. Then, your profit will be indicated by the intersection of the row you selected (your order quantity) and the column (demand value) that the computer draws randomly.</p> <p>The fractions below the demand values are the probabilities of each demand value. They indicate that there is a 1/7 probability that each demand will realize after you have made your order quantity decision. The demand in any round is independent of the demand in previous or later rounds. This means that if demand is high (low) in one round, it does not affect in any way whether the demand is high (low) in the next round.</p>";

        if (margin == 'low') {
            code += "<p>The price that you get from selling one item in the market is P = 7.28, and each item costs you C = 5.72.  The possible demand realizations are 500, 550, 600, 650, 700, 750, or 800 units, each with equal probability. For example, if you order 600 units, your realized profits will be 208 (with probability 1/7), 572 (with probability 1/7), or 936 (with probability 1/7 + 1/7 + 1/7 + 1/7 + 1/7 = 5/7). If the realized demand is 550, your profit is 780 if you ordered 500 units, or 572 if you ordered 600 units.</p><p>If you realized a loss (a negative profit) in a round, this loss will be deducted from your reward (see determination of monetary reward below). Note that each decision situation you will face contains at least one alternative that avoids losses.</p>";
        }

        if (margin == 'high') {
            code += "<p>The price that you get from selling one item in the market is P = 1.78, and each item costs you C = 0.38. The possible demand realizations are 300, 400, 500, 600, 700, 800, or 900 units, each with equal probability. For example, if you order 500 units, your realized profits will be 344 (with probability 1/7), 522 (with probability 1/7), or 700 (with probability 1/7 + 1/7 + 1/7 + 1/7 + 1/7 = 5/7). If the realized demand is 400, your profit is 420 if you ordered 300 units, or 522 if you ordered 500 units.</p>";
        }

        return code;
    }

    function insertHTML(id, html) {
        var el = document.getElementById(id);

        if(!el) {
            alert('Element with id ' + id + ' not found.');
        }

        el.innerHTML = html;
    }

    function run() {
        var html = createTable();

        insertHTML('tabledata', html);
    }

    window.onload = run;

    </script>

{% endblock %}

