{% load otree static %}

<p>The purpose of this game is to understand stock behavior. You are an inventory manager responsible for keeping total costs low. The game evolves over several days.</p>
<p>Each day, there are customers who demand items from your stock. And each day, you can decide whether or not to make a replenishment order from your supplier. If you order a replenishment, it arrives immediately before the next day.</p>
<p>On the first day you start with some initial level of stock.</p>
<p>Making replenishment orders is costly: you have to pay a fixed cost of £5 for each batch that you order. </p>
<p>Holding stock is also costly: you have to pay a variable cost of 40% of the item's value to hold it over time.</p>
<p>If in some day your stock level is less than demand, you incur backlog that has to be satisfied from your next order. Backlogs result in extra variable costs, such as reputational damage and goodwill losses.</p>
<p>The cost efficiency score indicates how far your total costs are from the ideal level. Aim to keep this score close to 1.00.</p>