{% load otree static %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions for Part III
    </h3>

    <p>
        In this part of the study you again represent a firm that sells products from an inventory to customers.
        However, now there is also another firm selling almost the same product from its own inventory. We have paired you
        with a randomly chosen another participant who represents this other firm. This other participant is not the same as in Part I.
    </p>
    <p>
        You will remain anonymous to each other. The decision making situation
        is identical to both participants and both see the same instructions. You will again make a single decision about
        an inventory level that will determine your monetary reward from this part of the study.
    </p>

    <p><i>
        This part differs from the previous part in one essential way: if you have any unsatisfied demand, <b>that demand
        benefits the other firm</b>. Likewise, if the other firm has unsatisfied demand, that demand will flow to your
        inventory and benefit you. Therefore, any decision that you make may affect the other participant's profit,
        or any decision that the other participant makes may affect your profit. This is all described below in detail.
    </i></p>

    <p>
        Your <b>order</b> of units to the inventory can be any whole number between 1 and 100.
    </p>

    <p>
        <b>Initial demand</b> is randomly drawn as a number between 1 and 100. Each value of demand has an equal probability
        of occurring. Each firm receives its own initial demand independent of the other.
    </p>

    <p>
        <b>Important</b>: The initial demands of the two firms are always independently determined from each other, i.e. they
        are independent random draws. In other words, it may be that one inventory has high demand while the other has
        high or low demand, both have low demands or both have high demands, etc.
    </p>

    <p>
        When a firm's inventory level is below its initial demand, 80% of the extra demand will flow to the other firm's
        inventory; this type of demand is called <b>reallocated demand</b>. Of course, the reallocation can benefit the
        other firm only if it has a high enough inventory level to accommodate the reallocation.
    </p>

    <p>
        <b>Effective demand</b> at one inventory will make up of initial demand at that inventory +
        reallocation from the other inventory. You will know the initial demands and the effective
        demands of both firms only after both have made the decisions on how much to order.
    </p>

    <p>
        <b>Revenue</b>. Your revenue will be determined by how many units you are able to sell to your customers, in a
        similar manner as in Part II. If the effective demand is higher than your inventory level, then your revenue is
        determined only by the amount that is in your inventory. If the effective demand is lower than your inventory
        level, then your revenue is determined only by the amount that is demanded. The customers will pay 4 pence
        per each unit that is sold from the inventory.
    </p>

    <p>
        For example, if your inventory level is 40, but your initial demand is 60, then there are 20 customers who will
        leave your inventory empty handed. 80% of these 20 customers, or 16 customers, will be reallocated to the other
        firm's inventory and they contribute to its revenue if its inventory level is high enough to accommodate these extra
        customers. Thus, in this example reallocation from your inventory to the other firm's inventory is 16.
        If the other firm has an initial demand of 30, it will have an effective demand of 30 + 16 = 46.
    </p>

    <p>
        Likewise, if there are customers at the other firm's inventory that the other firm cannot satisfy, 80% of them will
        be reallocated from its inventory to your inventory and contribute to your own effective demand.
    </p>

    <p>
        <b>Ordering cost</b>. You will have to pay 2 pence for each unit that you order to the inventory. Note that due
        to the randomness of demand, it may be that your ordering cost will be higher than your revenue, resulting into losses.
    </p>

    <p>
        Your profit, measured in pence (£ 1/100), is therefore:
    </p>

    <ul>
        If effective demand is less than ordered units: <b>4 × [effective demand] &minus; 2 × [ordered units]</b><br>
        If effective demand is more than ordered units: <b>4 × [ordered units] &minus; 2 × [ordered units]</b><br>
    </ul>

    <p>
        Your effective demand is calculated as:
    </p>

    <ul>
        <b>[initial demand] +  0.8 × [unsatisfied demand at the other firm's inventory]</b>
    </ul>

    <p>
        The calculation of effective demand is identical for the other firm.
    </p>

    <p>
        If lossess occur, these will be subtracted from your baseline reward.
    </p>

    <p>
        When you make your decision, you are provided a profit calculator that you can use to calculate the profit for
        any combination of ordered units and demand.
    </p>

    <p>
        <b>Monetary reward</b>. You will be paid the average of the two profits that you get from this part and Part II.
        For example, if your profit in this part is 120 pence and in Part II, 90 pence, your monetary reward is
        (0.90 + 1.20)/2 = £1.05. This will be added to your reward from Part I.
    </p>

    <p>
        For your convenience, these instructions will remain available to you on all subsequent screens of this study.
    </p>

</div>
