{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Test questions -- results
{% endblock %}

{% block content %}

<p>If you order 55 units to your inventory and your initial demand is 41, and the other firm's initial demand is 66, what is the effectve demand at the other firm's inventory?</p>
<ul>You answered {{ qu1 }}, which is {{ qu1res }} -- the correct answer is 66 + 0 = 66</ul>
<br>

<p>If your initial demand is 70, and the other firm orders 50 units and its initial demand is 65, what is the effective demand at your inventory?</p>
<ul>You answered {{ qu2 }}, which is {{ qu2res }} -- the correct answer is 70 + 0.8 × (65 &minus; 50) = 82</ul>
<br>

<p>If you order 40 units to your inventory and your initial demand is 50, and the other firm orders 70 units and its initial demand is 65, what is the other firm's revenue?</p>
<ul>You answered {{ qu3 }}, which is {{ qu3res }} -- the correct answer is 4 × 70 = 280</ul>
<br>

{% next_button %}

{% include Constants.profitcalculator_template %}
{% include Constants.instructions_template %}


{% endblock %}
