{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Move back to Prolific Academic
{% endblock %}

{% block content %}

<p>
    Thank you for your participation!

    Your monetary reward will determined once your pair has made his/her decision.
    You will be compensated via Prolific Academic within 24 hours.
</p>


<p>
    Please click the link below to move back to Prolific Academic to finish the study.
</p>

<center>
<h3>
    <a href=" {{ prolificurl }} ">Click here</a>
</h3>

</center>
{% endblock %}
