{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Decide inventory level
{% endblock %}

{% block content %}

    {% formfield player.units with label="How many units will you order to your inventory (from 1 to 100)?" %}

    <p>Note that this is the only decision you make in this part of the study. After your decision, the results be shown and the study ends.</p>

    {% next_button %}

    {% include Constants.profitcalculator_template %}
    {% include Constants.instructions_template %}

{% endblock %}
