{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Move back to Prolific Academic
{% endblock %}

{% block content %}

<p>
    Thank you for your participation!

    Your monetary reward will be the average of Part II reward of {{ rew2 }} p and Part III reward, which can be determined
    once your pair has made his/her decision.

    <!--
    Your monetary reward from Parts II and III is £{{ rew }}, which is the average of
    Part II reward {{ rew2 }} p and Part III reward {{ rew3 }} p.
    -->

    To this we will add your reward from Part I once all subjects have completed the
    study for today. You will be compensated via Prolific Academic within 24 hours.
</p>


<p>
    Please click the link below to move back to Prolific Academic to finish the study.
</p>

<center>
<h3>
    <a href=" {{ prolificurl }} ">Click here</a>
</h3>

</center>
{% endblock %}
