{{ block title }}
    {{ if C.NUM_GAMES > 1 }}
        Game {{ game_number }} Complete!
    {# {{ elif }} #}
    {{ else }}
        Game Complete!
    {{ endif }}
{{ endblock }}

{{ block content }}

    {{ if not is_absolute_final_round }}
        <div class="d-inline-flex row border mb-4" id="instructions-pdf-container">
            <div class="card border">
                <div class="card-body">
                    <h6 class="card-title">
                        <a onclick='window.open("{{ static instructions_pdf }}","_blank")'>
                            <i class="mr-2 far fa-file-pdf fa-2x" style="color:darkred;"></i>
                            Game Instructions
                        </a>
                    </h6>
                </div>
            </div>
        </div>
    {{ endif }}

    {{ include C.STYLE_TEMPLATE }}
    {{ include C.SECTIONS_TEMPLATE }}
    {{ include C.SCRIPTS_TEMPLATE }}

    {{ if is_absolute_final_round }}
        {{ if C.NUM_GAMES > 1 }}
            <h5>Congrats, you've completed all games in this survey!</h5>
        {{ else }}
            <h5>Congrats, you've completed the survey!</h5>
        {{ endif }}
    {{ else }}
        <h5>Game {{ game_number|add(1) }} begins next.</h5>
    {{ endif }}

    <center class="w-100 m-4">
        {{ next_button }}
    </center>

    <script>
        allowClickNextOnEnter();
        renderFinalResultsContainer();
    </script>

{{ endblock }}
