{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

    {% if roundnumber == 0 %}

        <h1>You are the Retailer</h1>

        <p>Please indicate your starting RFQ below. This will be submitted to the Wholesaler once you click Submit.</p>

        <table border="1">
            <tr>
                <td> </td><td>May</td><td>June</td><td>July</td><td>August</td>
            </tr>
            <tr>
                <td>Order Q</td>
                <td>{% formfield group.orderQ_May %}</td>
                <td>{% formfield group.orderQ_June %}</td>
                <td>{% formfield group.orderQ_July %}</td>
                <td>{% formfield group.orderQ_August %}</td>
            </tr>
        </table>

    {% else %}

        <h1>Retailer (round {{ roundnumber }})</h1>

        <p>Below you will see the Wholesaler's offer.</p>

        <table border="1">
            <tr>
                <td> </td><td>May</td><td>June</td><td>July</td><td>August</td>
            </tr>
            <tr>
                <td>Quantity:</td>
                <td>{{ group.supplyQ_May }}</td>
                <td>{{ group.supplyQ_June }}</td>
                <td>{{ group.supplyQ_July }}</td>
                <td>{{ group.supplyQ_August }}</td>
            </tr>
        </table>

        <p>Wholesale price: {{ group.wholesaleprice }}</p>

        <p>The Wholesaler has also attached the following comments: <i>{{ group.wholesalercomment }}</i></p>

        <p><b>Do you accept or reject the Wholesaler's offer?</b></p>
        <p>If you accept, then the game ends and your profits will be determined according to the Wholesaler's offer.<br>
        If you reject, then you get the chance to revise your RFQ.</p>

        <button onclick="Accept()">Accept</button> <button onclick="Reject()">Reject</button>

        <div id="accept"></div>
        <div id="reject"></div>

        <p>Please indicate a new RFQ for the Wholesaler. This will be submitted to the Wholesaler once you click Submit.</p>

        <table border="1">
            <tr>
                <td> </td><td>May</td><td>June</td><td>July</td><td>August</td>
            </tr>
            <tr>
                <td>Quantity:</td>
                <td>{% formfield group.orderQ_May %}</td>
                <td>{% formfield group.orderQ_June %}</td>
                <td>{% formfield group.orderQ_July %}</td>
                <td>{% formfield group.orderQ_August %}</td>
            </tr>
        </table>

        <p>Please write comments to the Wholesaler in the below field. Justify your reasons for rejecting the offer and why you wish to submit a new proposal.</p>

        {% formfield group.retailercomment %}

    {% endif %}

    {% next_button %}

{% endblock %}
