{% load otree static %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <p>
        On each round, a black marble is dropped through a funnel.
        The marble will drop on a random location in the light blue area.
        You are responsible of keeping the marbles as close to the centre of the area as possible.
        Your task is to control the location of the funnel, by moving the red circle. You can move it by dragging it.
        Try to keep all marbles as close to the centre of the area as possible.
        Your score is a sum of the distances of each new marble from the centre -- the smaller your score, the better.
    </p>

</div>
