{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Part 2 -- 4/6
{% endblock %}

{% block content %}

<h3>There are two possible ends with the statement below. Which one do you prefer?</h3>
<br>
<center>


<table border=0 style="color:#0000cc; font-weight:bold">
<tr><td width="250px" valign="center" align="center"> </td><td  width="60px"> </td><td width="250px" valign="center" align="center">(A) make certain that students finish their degrees in the originally suggested timeframe</td><td width="<50px">&nbsp; </td><td valign="center" width="100px" align="left">&nbsp; </td></tr>
<tr><td width="250px" valign="center" align="center"> </td><td  width="60px" valign="center" align="center" style="font-size:22px">&nearr;</td><td> </td><td width="<50px"> </td><td valign="center" width="100px" align="left">&nbsp; </td></tr>
<tr><td width="250px" valign="center" align="center">Better disseminate student-relevant information</td><td> </td><td> </td><td> </td><td valign="center" width="100px" align="left">&nbsp; {% formfield player.q25 with label="" %}</td></tr>
<tr><td width="250px" valign="center" align="center"> </td><td  width="60px" valign="center" align="center" style="font-size:22px">&searr;</td><td> </td><td width="<50px">&nbsp; </td><td valign="center" width="100px" align="left">&nbsp; </td></tr>
<tr><td width="250px" valign="center" align="center"> </td><td  width="60px"> </td><td width="250px" valign="center" align="center">(B) ensure that the students are aware of their rights with regards to the teaching staff</td><td width="<50px">&nbsp; </td><td valign="center" width="100px" align="left">&nbsp; </td></tr>
</table>
<br>
<br>


{% next_button %}

</center>

{% endblock %}
